<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'IndexHome/assets/img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'IndexHome/assets/img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'IndexHome/assets/img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'IndexHome/assets/img/site.webmanifest' %}">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>{% block title %}{% endblock title %}</title>
        {% load static %}
        <script src="{% static 'IndexHome/assets/js/core/jquery.min.js' %}"></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'IndexHome/assets/css/verify_css.css' %}"
            />
        <style>
            @media (max-width: 420px) {
            .formbg {
                box-shadow: none;
            }
            .loginbackground-gridContainer{
                display: none;
            }
            }
            ::-webkit-scrollbar {
            width: 0.5em;
            }
            ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }
            ::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius: 10px;
            }
        </style>
    </head>
    <body id="bodyscroll">
        <div class="login-root">
            <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh; flex-grow: 1">
                <div class="loginbackground box-background--white padding-top--64">
                    <div class="loginbackground-gridContainer">
                        <div class="box-root flex-flex" style="grid-area: top / start / 8 / end">
                            <div class="box-root" style="background-image: linear-gradient(white 0%,rgb(247, 250, 252) 33%);flex-grow: 1;"></div>
                        </div>
                        <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5">
                            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1"></div>
                        </div>
                        <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2">
                            <div class="box-root box-background--blue800" style="flex-grow: 1"></div>
                        </div>
                        <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4">
                            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1"></div>
                        </div>
                        <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6">
                            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1"></div>
                        </div>
                        <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end">
                            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1"></div>
                        </div>
                        <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end">
                            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1"></div>
                        </div>
                        <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20">
                            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1"></div>
                        </div>
                        <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17">
                            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1"></div>
                        </div>
                    </div>
                </div>
                <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9">
                    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                        <h1><a rel="dofollow">CaffeineCode</a></h1>
                    </div>
                    <div class="formbg-outer">
                        {% block form %}
                        {% endblock form %}
                        <div class="footer-link padding-top--24">
                            <div style="text-align: center;color: #c9c9c9;font-family: Arial;font-size: 11px;line-height: 150%;">
                                <p style="text-align: left;margin : 0;margin-top: 2px;text-align: center;">
                                    CaffeineCode | Surat, Gujarat, 395009 | Copyright © 2021 | All rights reserved
                                </p>
                            </div>
                            <div class="listing flex-flex center-center" style="margin-top: 10px">
                                <span><a href="#">© CaffeineCode</a></span>
                                <span><a href="#">Contact</a></span>
                                <span><a href="{% url 'IndexHome:privacy' %}">Privacy Policy</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>