{% extends 'IndexHome/base_ver.html' %} {% block title %}CaffeineCode - forgotpassword{% endblock title %} 
{% block form %}
<div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
        <span class="padding-bottom--15">
            You will recieve a verification code on
            <div class="email" style="color: rgb(112, 112, 233)">
                {{request.session.email}}
            </div>
            Enter that code below and set new password
        </span>
        <br />
        <form id="stripe-login" method="POST" action="{% url 'IndexHome:forgot_final' %}">
            {% csrf_token %}
            <div class="field padding-bottom--24">
                <div class="grid--50-50">
                    <label for="Code">Verification Code</label>
                    <div class="reset-pass">
                        <a href="">Didn't get the code?</a>
                    </div>
                </div>
                <input name="code" title="Enter Code" required spellcheck="false" maxlength="6" style="margin-bottom: 12px" autocomplete="off" autofocus/>
                <div class="grid--50-50">
                    <label for="password">New Password</label>
                </div>
                <input name="password" title="Enter New Password" required spellcheck="false" type="password" autocomplete="off"/>
                {% if error %}
                <div style="color: red; font-size: 15px; margin-top: 4px">
                    {{error}}
                </div>
                {% endif %}
            </div>
            <span style="font-size: 13px; margin-bottom: 12px"><b>Note : Please dont close or refresh this page</b></span>
            <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>
{% endblock form %}