{% extends 'IndexHome/base_ver.html' %} {% block title %}CaffeineCode - forgotpassword{% endblock title %} 
{% block form %}
<div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
        <span class="padding-bottom--15">Enter your valid register email address to request forgot password request</span>
        <br/>
        <form id="stripe-login" method="POST" action="{% url 'IndexHome:forgot' %}">
            {% csrf_token %}
            <div class="field padding-bottom--24">
                <div class="grid--50-50">
                    <label for="Email">Email</label>
                </div>
                <input type="email" name="email" required spellcheck="false" autofocus title="Enter Register Email" autocomplete="off"/>
                {% if warning is True %}
                <div style="color: red; font-size: 15px; margin-top: 4px">
                    {{message}}
                </div>
                {% endif %}
            </div>
            <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Request Forgot Password"/>
            </div>
        </form>
    </div>
</div>
{% endblock form %}