{% extends 'IndexHome/base.html' %} 
{% block body %} 
{% load static %}
<style>
  .form-check-label:hover {
    color: rgb(243, 105, 105);
  }
  ::-webkit-scrollbar {
    width: 0.5em;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
  }
  .text-warning {
    font-size: 13px;
  }
  .count-box {
    border-radius: 5px;
  }
</style>
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Make your Code and Coffee with us</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">
          We are a community of coders and Tech blog writers
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            {% if request.user.is_authenticated %}
            <a
              style="cursor: pointer; color: white"
              href="#about"
              class="
                btn-get-started
                scrollto
                d-inline-flex
                align-items-center
                justify-content-center
                align-self-center
              "
            >
              <span>Get Started!</span>
              <i class="bi bi-arrow-right"></i>
            </a>
            {% else %}
            <a
              style="cursor: pointer; color: white"
              href="{% url 'IndexHome:signup' %}"
              class="
                btn-get-started
                scrollto
                d-inline-flex
                align-items-center
                justify-content-center
                align-self-center
              "
            >
              <span>Create Account</span>
              <i class="bi bi-arrow-right"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img
          src="{% static 'IndexHome/assets/img/Team.svg' %}"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gx-0">
        <div
          id="about"
          class="col-lg-6 d-flex flex-column justify-content-center"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="content">
            <h3>Who We Are</h3>
            <h2>
              We are Programmers, driven with the passion to provide newbies with the knowledge of programming
            </h2>
            <p>
              Back in time when we found it hard to start our programming journey . Hope this does not happen with you . So we decided to provide you with our knowledge gained in the past few years.
            </p>
            <div class="text-center text-lg-start">
              <a
                href="#"
                class="
                  btn-read-more
                  d-inline-flex
                  align-items-center
                  justify-content-center
                  align-self-center
                "
              >
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 d-flex align-items-center"
          data-aos="zoom-out"
          data-aos-delay="200"
        >
          <img
            src="{% static 'IndexHome/assets/img/about.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
  <!-- ======= Values Section ======= -->
  <section id="values" class="values">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <p>We Served you with</p>
      </header>
      <div class="row">
        <div class="col-lg-4">
          <div class="box" data-aos="fade-up" data-aos-delay="200">
            <img
              src="{% static 'IndexHome/assets/img/values-1.png' %}"
              class="img-fluid"
              alt=""
            />
            <h3>Blogs</h3>
            <p>
              Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur
              sit. Et veritatis id.
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <img
              src="{% static 'IndexHome/assets/img/values-2.png' %}"
              class="img-fluid"
              alt=""
            />
            <h3>Source code</h3>
            <p>
              Repudiandae amet nihil natus in distinctio suscipit id. Doloremque
              ducimus ea sit non.
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img
              src="{% static 'IndexHome/assets/img/values-3.png' %}"
              class="img-fluid"
              alt=""
            />
            <h3>Problems</h3>
            <p>
              Quam rem vitae est autem molestias explicabo debitis sint. Vero
              aliquid quidem commodi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Values Section -->
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts" style="background: #273044">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6" style="border-radius: 5px">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="232"
                data-purecounter-duration="2"
                class="purecounter"
              ></span>
              <p>Our Coummunity</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" style="border-radius: 5px">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="521"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Source Codes</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" style="border-radius: 5px">
          <div class="count-box">
            <i class="bi bi-headset" style="color: #15be56"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="1463"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Rank</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" style="border-radius: 5px">
          <div class="count-box">
            <i class="bi bi-people" style="color: #bb0852"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="15"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Supporters</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->
  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <!--<p>Laboriosam et omnis fuga quis dolor direda fara</p>-->
      </header>
      <div class="row">
        <div class="col-lg-6">
          <img
            width="360px"
            src="{% static 'IndexHome/assets/img/service.svg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Eos aspernatur rem</h3>
              </div>
            </div>
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Facilis neque ipsa</h3>
              </div>
            </div>
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Volup amet voluptas</h3>
              </div>
            </div>
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Rerum omnis sint</h3>
              </div>
            </div>
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Alias possimus</h3>
              </div>
            </div>
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Repellendus mollitia</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / row -->
      <!-- Feature Tabs -->
      <!-- End Feature Tabs -->
      <!-- Feature Icons -->
      <!-- End Feature Icons -->
    </div>
  </section>
  <!-- End Features Section -->
  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Pricing</h2>
        <p>Check our Pricing</p>
      </header>
      <div class="row gy-4" data-aos="fade-left">
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: #07d5c0">Free Plan</h3>
            <div class="price"><sup>$</sup>0<span> / mo</span></div>
            <img
              src="{% static 'IndexHome/assets/img/pricing-free.png' %}"
              class="img-fluid"
              alt=""
            />
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <span class="featured">Featured</span>
            <h3 style="color: #65c600">Starter Plan</h3>
            <div class="price"><sup>$</sup>19<span> / mo</span></div>
            <img
              src="{% static 'IndexHome/assets/img/pricing-starter.png' %}"
              class="img-fluid"
              alt=""
            />
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <h3 style="color: #ff901c">Business Plan</h3>
            <div class="price"><sup>$</sup>29<span> / mo</span></div>
            <img
              src="{% static 'IndexHome/assets/img/pricing-business.png' %}"
              class="img-fluid"
              alt=""
            />
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="box">
            <h3 style="color: #ff0071">Ultimate Plan</h3>
            <div class="price"><sup>$</sup>49<span> / mo</span></div>
            <img
              src="{% static 'IndexHome/assets/img/pricing-ultimate.png' %}"
              class="img-fluid"
              alt=""
            />
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Section -->
  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>
      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1"
                >
                  Non consectetur a erat nam at lectus urna duis?
                </button>
              </h2>
              <div
                id="faq-content-1"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist1"
              >
                <div class="accordion-body">
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
                  volutpat lacus laoreet non curabitur gravida. Venenatis lectus
                  magna fringilla urna porttitor rhoncus dolor purus non.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-2"
                >
                  Feugiat scelerisque varius morbi enim nunc faucibus a
                  pellentesque?
                </button>
              </h2>
              <div
                id="faq-content-2"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist1"
              >
                <div class="accordion-body">
                  Dolor sit amet consectetur adipiscing elit pellentesque
                  habitant morbi. Id interdum velit laoreet id donec ultrices.
                  Fringilla phasellus faucibus scelerisque eleifend donec
                  pretium. Est pellentesque elit ullamcorper dignissim. Mauris
                  ultrices eros in cursus turpis massa tincidunt dui.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-3"
                >
                  Dolor sit amet consectetur adipiscing elit pellentesque
                  habitant morbi?
                </button>
              </h2>
              <div
                id="faq-content-3"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist1"
              >
                <div class="accordion-body">
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices
                  sagittis orci. Faucibus pulvinar elementum integer enim. Sem
                  nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                  pellentesque eu tincidunt. Lectus urna duis convallis
                  convallis tellus. Urna molestie at elementum eu facilisis sed
                  odio morbi quis
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-1"
                >
                  Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                </button>
              </h2>
              <div
                id="faq2-content-1"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist2"
              >
                <div class="accordion-body">
                  Dolor sit amet consectetur adipiscing elit pellentesque
                  habitant morbi. Id interdum velit laoreet id donec ultrices.
                  Fringilla phasellus faucibus scelerisque eleifend donec
                  pretium. Est pellentesque elit ullamcorper dignissim. Mauris
                  ultrices eros in cursus turpis massa tincidunt dui.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-2"
                >
                  Tempus quam pellentesque nec nam aliquam sem et tortor
                  consequat?
                </button>
              </h2>
              <div
                id="faq2-content-2"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist2"
              >
                <div class="accordion-body">
                  Molestie a iaculis at erat pellentesque adipiscing commodo.
                  Dignissim suspendisse in est ante in. Nunc vel risus commodo
                  viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
                  bibendum est. Purus gravida quis blandit turpis cursus in
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-3"
                >
                  Varius vel pharetra vel turpis nunc eget lorem dolor?
                </button>
              </h2>
              <div
                id="faq2-content-3"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist2"
              >
                <div class="accordion-body">
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris
                  vitae ultricies leo integer malesuada nunc vel. Tincidunt eget
                  nullam non nisi est sit amet. Turpis nunc eget lorem dolor
                  sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                  Pellentesque diam volutpat commodo sed egestas egestas
                  fringilla phasellus faucibus. Nibh tellus molestie nunc non
                  blandit massa enim nec.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End F.A.Q Section -->
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Testimonials</h2>
        <p>What they are saying about us</p>
      </header>
      <div
        class="testimonials-slider swiper-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Proin iaculis purus consequat sem cure digni ssim donec
                porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              </p>
              <div class="profile mt-auto">
                <img
                  src="{% static 'IndexHome/assets/img/testimonials/testimonials-1.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Export tempor illum tamen malis malis eram quae irure esse
                labore quem cillum quid cillum eram malis quorum velit fore eram
                velit sunt aliqua noster fugiat irure amet legam anim culpa.
              </p>
              <div class="profile mt-auto">
                <img
                  src="{%static 'IndexHome/assets/img/testimonials/testimonials-2.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Enim nisi quem export duis labore cillum quae magna enim sint
                quorum nulla quem veniam duis minim tempor labore quem eram duis
                noster aute amet eram fore quis sint minim.
              </p>
              <div class="profile mt-auto">
                <img
                  src="{% static 'IndexHome/assets/img/testimonials/testimonials-3.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                multos export minim fugiat minim velit minim dolor enim duis
                veniam ipsum anim magna sunt elit fore quem dolore labore illum
                veniam.
              </p>
              <div class="profile mt-auto">
                <img
                  src="{% static 'IndexHome/assets/img/testimonials/testimonials-4.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                veniam tempor noster veniam enim culpa labore duis sunt culpa
                nulla illum cillum fugiat legam esse veniam culpa fore nisi
                cillum quid.
              </p>
              <div class="profile mt-auto">
                <img
                  src="{% static 'IndexHome/assets/img/testimonials/testimonials-5.jpg' %}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->
  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Team</h2>
        <p>Our hard working team</p>
      </header>
      <div class="row gy-4"></div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-blog-posts" class="recent-blog-posts">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Blog</h2>
        <p>Recent posts form our Blog</p>
      </header>
      <div class="row">
        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img">
              <img
                src="{% static 'IndexHome/assets/img/blog/blog-1.jpg' %}"
                class="img-fluid"
                alt=""
              />
            </div>
            <span class="post-date">Tue, September 15</span>
            <h3 class="post-title">
              Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur
              sit
            </h3>
            <a href="blog-singe.html" class="readmore stretched-link mt-auto"
              ><span>Read More</span><i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img">
              <img
                src="{% static 'IndexHome/assets/img/blog/blog-2.jpg' %}"
                class="img-fluid"
                alt=""
              />
            </div>
            <span class="post-date">Fri, August 28</span>
            <h3 class="post-title">
              Et repellendus molestiae qui est sed omnis voluptates magnam
            </h3>
            <a href="blog-singe.html" class="readmore stretched-link mt-auto"
              ><span>Read More</span><i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img">
              <img
                src="{% static 'IndexHome/assets/img/blog/blog-3.jpg' %}"
                class="img-fluid"
                alt=""
              />
            </div>
            <span class="post-date">Mon, July 11</span>
            <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
            <a href="blog-singe.html" class="readmore stretched-link mt-auto"
              ><span>Read More</span><i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Recent Blog Posts Section -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </header>
      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>A108 Adam Street,<br />New York, NY 535022</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55<br />+1 6678 254445 41</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>info@example.com<br />contact@example.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Friday<br />9:00AM - 05:00PM</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" class="php-email-form">
            <div class="row gy-4">
              <div class="col-md-6">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="col-md-6">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Your Email"
                  required
                />
              </div>
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  placeholder="Subject"
                  required
                />
              </div>
              <div class="col-md-12">
                <textarea
                  class="form-control"
                  name="message"
                  rows="6"
                  placeholder="Message"
                  required
                ></textarea>
              </div>
              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>
                <button type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Our Newsletter</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
        </div>
        <div class="col-lg-6">
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>FlexStart</span>
          </a>
          <p>
            Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada
            terra videa magna derita valies darta donna mare fermentum iaculis
            eu non diam phasellus.
          </p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"
              ><i class="bi bi-instagram bx bxl-instagram"></i
            ></a>
            <a href="#" class="linkedin"
              ><i class="bi bi-linkedin bx bxl-linkedin"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">About us</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Services</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Terms of service</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Web Design</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Web Development</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Product Management</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Marketing</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a>
            </li>
          </ul>
        </div>
        <div
          class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
        >
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br />
            New York, NY 535022<br />
            United States <br /><br />
            <strong>Phone:</strong> +1 5589 55488 55<br />
            <strong>Email:</strong> info@example.com<br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>FlexStart</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer>
{% endblock body %}
