{% extends 'IndexHome/base_ver.html' %} {% block title %}CaffeineCode - signin{% endblock title %} 
{% block form %}
<div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
        <center>
            <span class="padding-bottom--15" style="color: #c2c2c2; font-size: 14px">Sign in with your credentials</span>
        </center>
        <br />
        <form id="stripe-login" method="POST" action="{% url 'IndexHome:signin' %}">
            {% csrf_token %}
            <div class="field padding-bottom--24">
                <div class="grid--50-50">
                    <label for="password">Email</label>
                </div>
                <input name="email" required spellcheck="false" style="margin-bottom: 12px" type="email" autocomplete="off" autofocus title="Your register email"/>
                <div class="grid--50-50">
                    <label for="password">Password</label>
                    <div class="reset-pass">
                        <a href="{% url 'IndexHome:forgot' %}">Forgot Password?</a>
                    </div>
                </div>
                <input name="password" required spellcheck="false" type="password" autocomplete="off" title="Your Login Password"/>
                {% if error %}
                <div style="color: red; font-size: 15px; margin-top: 4px">
                    {{error}}{% if create_account %}
                    <br><a class="ver" href="{% url 'IndexHome:signup' %}"> New to CaffeineCode ? Create Account</a> 
                    {% endif %} 
                    {% if verify_request %}
                    <a class="ver" href="{% url 'IndexHome:verify' mail_hash=mail_en id=id %}" style="color: darkturquoise">click here to verify</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Login" />
            </div>
        </form>
    </div>
</div>
{% endblock form %}