{% extends 'IndexHome/base_ver.html' %} {% block title %}CaffeineCode - signup{% endblock title %} 
{% block form %}
<div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
        <center>
            <span class="padding-bottom--15" style="color: #c2c2c2; font-size: 14px" >Create a new account</span>
        </center>
        <br />
        <form role="form" autocomplete="off" method="POST" action="{% url 'IndexHome:signup' %}" id="stripe-login">
            {% csrf_token %}
            <div class="field padding-bottom--24">
                <div class="grid--50-50">
                    <label for="username">Username</label>
                </div>
                <input id="username" name="username" required spellcheck="false" style="margin-bottom: 4px" type="text" autocomplete="off" pattern="^(?=[a-zA-Z0-9._]{8,20}$)(?!.*[_.]{2})[^_.].*[^_.]$" title="Your username must consist of alphanumeric characters underscore(_),and period(.) underscore and period can't be first or last charcter and next to each other." autofocus/>
                <div id="error" style="color: red; font-size: 15px; margin-bottom: 12px"></div>
                <div class="grid--50-50">
                    <label for="Email">Email</label>
                </div>
                <input name="email" spellcheck="false" style="margin-bottom: 12px" type="email" title="Your Valid Email addrress" autocomplete="off" required/>
                <div class="grid--50-50">
                    <label for="Password">Create Password</label>
                </div>
                <input name="password" required spellcheck="false" type="password" autocomplete="off" title="Create Password"/>
                {% if error %}
                <div style="color: red; font-size: 15px; margin-top: 14px">
                    {{error}}
                </div>
                {% endif %}
            </div>
            <span class="padding-bottom--24"><input type="checkbox" required /> I agree Terms of Service & Coditions</span>
            <div class="field padding-bottom--24">
                <input class="enableOnInput" type="submit" name="submit" value="Create Account"/>
            </div>
        </form>
    </div>
</div>
<script>
    function delay(callback, ms) {
      var timer = 0;
      return function () {
        var context = this,
          args = arguments;
        clearTimeout(timer);
        timer = setTimeout(function () {
          callback.apply(context, args);
        }, ms || 0);
      };
    }
    $(document).ready(function () {
      $("#username").keyup(
        delay(function (e) {
          $.ajax({
            data: $(this).serialize(),
            url: "{% url 'IndexHome:check_user' %}",
            success: function (response) {
              if (response.is_taken == true) {
                $("#error").html("Username already taken!");
                $(".enableOnInput").prop("disabled", true);
              } else {
                $(".enableOnInput").prop("disabled", false);
                $("#error").html("");
              }
            },
            error: function (response) {
              console.log(response.responseJSON.errors);
            },
          });
          return false;
        }, 500)
      );
    });
</script>
{% endblock form %}