{% extends 'IndexHome/base_ver.html' %} 
{% block title %}CaffeineCode{% endblock title %} 
{% block form %}
<div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
        {% load static %}
        <center>
            {% if error_code %}
                <img src="{% static 'IndexHome/assets/img/404_error.svg' %}" height="160px" width="160px" alt="error"/>
            {% else %}
                <img src="{% static 'IndexHome/assets/img/error.svg' %}" height="160px" width="160px" alt="error"/>
            {% endif %}
        </center>
        <br/>
        <span style="text-align: center; color: rgb(255, 0, 0); font-size: 17px" class="padding-bottom--15">{{error}}</span>
        <span class="padding-bottom--15" style="text-align: center"><a href="{% url 'IndexHome:index' %}" style="color: rgb(82, 82, 250)">Return To Home</a></span>
    </div>
</div>
{% endblock form %}