{% extends 'projects/GitHubShowcase/base_ver.html' %}

{% block title %}CaffeineCode{% endblock title %}
{% block form %}
<div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
        <center>
            <span class="padding-bottom--15" style="color: #c2c2c2; font-size: 14px" >Create your awesome GitHub profile 🚀</span>
        </center>
        <br />
        <form role="form" autocomplete="off" method="POST" action="{% url 'projects:add' %}" id="stripe-login">
            {% csrf_token %}
            <div class="field padding-bottom--24">
                <div class="grid--50-50">
                    <label for="username">Your github username</label>
                </div>
                <input id="username" name="username" required spellcheck="false" style="margin-bottom: 4px" type="text" autocomplete="off" autofocus/>
                {% if error %}
                    <div id="error" style="color: red; font-size: 15px; margin-top: 16px">{{error}}</div>
                {% endif %}
                {% if url %}
                    <div id="error" style="color: rgb(22, 160, 214); font-size: 15px; margin-top: 8px"><a href="{% url 'projects:profile' username=user %}">Checkout your profile here</a></div>
                {% endif %}
            </div>
            <div class="field padding-bottom--24">
                <input class="enableOnInput" type="submit" name="submit" value="Generate profile ❤️"/>
            </div>
        </form>
    </div>
</div>
{% endblock form %}