<!DOCTYPE html>
<head>
    {% load static %}
    <title>{{profile.name}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{% static 'IndexHome/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'projects/GitHubShowcase/style.css' %}" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(window).load(function() { 
        $('#status').fadeOut(); 
        $('#preloader').delay(50).fadeOut(100); 
        $('body').delay(50).css({'overflow':'visible'});
      })
  </script>
  <style>
    #status{
      background-image:url("{% static 'IndexHome/assets/img/preloader.gif' %}");
    }
  </style>
</head>
<body id="bodyscroll">
  <div id="preloader"> 
    <div id="status">
    </div> 
  </div>
  <div class="main-content">
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-size: cover; background-position: center top;">
      <span class="mask bg-gradient-default opacity-8"></span>
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello World!</h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            <a href="#!" class="btn btn-info">Report error</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid mt--7">
      <div class="row justify-content-around">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{% block avatar_url %}{% endblock avatar_url %}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="{{profile.html_url}}" target="_blank" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="#" class="btn btn-sm btn-default float-right">Message</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{% block follower %}{% endblock follower %}</span>
                      <span class="description">followers</span>
                    </div>
                    <div>
                      <span class="heading">{% block following %}{% endblock following %}</span>
                      <span class="description">following</span>
                    </div>
                    <div>
                      <span class="heading">{% block total_repo %}{% endblock total_repo %}</span>
                      <span class="description">Repositories</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {% block name %}{% endblock name %}
                </h3>
                <div class="h5 font-weight-300">
                  <i class="bi bi-geo-alt-fill"></i> {% block location %}{% endblock location %}
                </div>
                <div class="h5 mt-4">
                  Company<i class="ni business_briefcase-24 mr-2"></i>{% block company %}{% endblock company %}
                </div>
                <!-- <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div> -->
                <hr class="my-4">
                <p>{% block bio %}{% endblock bio %}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Profile Card</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <center><img src="https://github-readme-stats.vercel.app/api?username={{profile.login}}&show_icons=true&theme=radical"></center>
            </div>

          </div>
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Contributions</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              {% block graph %}
              {% endblock graph %}
              <div class="row mt-4">
                <div class="col-xl-3 col-lg-6 mt-3">
                  <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title mb-0">Contributions made last year</h5>
                          <span class="h2 font-weight-bold  mt-4 mb-0">{% block last_year_contr %}{% endblock last_year_contr %}</span>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-success mr-2"><i class="bi bi-arrow-up"></i> 3.48%</span>
                        <span class="text-nowrap">This month</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 mt-3">
                  <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title  mb-0">Contributions made this year</h5>
                          <span class="h2 font-weight-bold mt-4 mb-0">{% block this_year_contr %}{% endblock this_year_contr %}</span>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-danger mr-2"><i class="bi bi-arrow-down"></i> 3.48%</span>
                        <span class="text-nowrap">Since last week</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-xl-3 col-lg-6 mt-3">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="card-title mb-0">Growth/Decline</h5>
                            <span class="h2 font-weight-bold mt-3 mb-0">{% block growth_contr %}{% endblock growth_contr %}</span>
                          </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                          <span class="text-warning mr-2"><i class="bi bi-arrow-down"></i> 1.10%</span>
                          <span class="text-nowrap">Since yesterday</span>
                        </p>
                      </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mt-3">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                    <div class="row">
                        <div class="col">
                        <h5 class="card-title mb-0">Total Contributions</h5>
                        <span class="h2 font-weight-bold mt-4 mb-0">{% block sum %}{% endblock sum %}</span>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-success mr-2"><i class="bi bi-arrow-up"></i> 12%</span>
                        <span class="text-nowrap">Since last month</span>
                    </p>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="card bg-secondary shadow mt-4 mb-4" style="padding: 30px;">
        <div class="row justify-content-around">
          {% for repo in repos_list %}
              {% if forloop.counter0|divisibleby:2 %}
                  </div><div class="row justify-content-around mt-3" >
              {% endif %}
                  <div class="col"><center><img src="https://github-readme-stats.vercel.app/api/pin?username={{profile.login}}&repo={{repo}}&theme=onedark"></center></div>
          {% endfor %}
      </div>
      </div> -->
  </div>
</body>