{% extends 'projects/GitHubShowcase/base.html' %}

{% block avatar_url %}{{profile.avatar_url}}{% endblock avatar_url %}
{% block follower %}{{profile.followers}}{% endblock follower %}
{% block following %}{{profile.following}}{% endblock following %}
{% block total_repo %}{{profile.public_repos}}{% endblock total_repo %}
{% block name %}{{profile.name}}{% endblock name %}
{% block location %}{{profile.location}}{% endblock location %}
{% block company %}{{profile.company}}{% endblock company %}
{% block bio %}{{profile.bio}}{% endblock bio %}
{% block last_year_contr %}{{profile.contribution.last_year}}{% endblock last_year_contr %}
{% block this_year_contr %}{{profile.contribution.this_year}}{% endblock this_year_contr %}
{% block growth_contr %}{% endblock growth_contr %}
{% block sum %}{{profile.contribution.sum}}{% endblock sum %}



{% block graph %}
    <!-- <center><img src="https://github-readme-stats.vercel.app/api?username={{profile.login}}&theme=radical"></center> -->
    <!-- <center><img src="https://github-readme-stats.vercel.app/api/top-langs/?username={{profile.login}}&theme=radical"></center> -->
    <div>
        <canvas id="contribution-chart" style="height:500px;width:500px;"></canvas>
    </div>
    {{ profile.contribution.years_data|json_script:"chart_data" }}
    {{ profile.contribution.years_label|json_script:"chart_labels" }}
    <script>
        const labels = JSON.parse(document.getElementById('chart_labels').textContent)

        const data = {
          labels: labels,
          datasets: [{
            label: 'Contributions',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data:JSON.parse(document.getElementById('chart_data').textContent),
          }]
        };

        const config = {
          type: 'line',
          data: data,
          options: {
            responsive: true,
            maintainAspectRatio: false,
          }
        };
    </script>
    <script>
        const myChart = new Chart(
          document.getElementById('contribution-chart'),
          config
        );
    </script>
{% endblock graph %}
