<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>{% block title %}{% endblock title %}</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <!-- Google Fonts -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'IndexHome/assets/img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'IndexHome/assets/img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'IndexHome/assets/img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'IndexHome/assets/img/site.webmanifest' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!--<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />
        <!-- Vendor CSS Files -->
        {% block styling %} {% endblock styling %}
        <link
            href="{% static 'IndexHome/assets/vendor/bootstrap/css/bootstrap.min.css' %}"
            rel="stylesheet"
            />
        <link
            href="{% static 'IndexHome/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
            rel="stylesheet"
            />
        <link
            href="{% static 'IndexHome/assets/vendor/aos/aos.css' %}"
            rel="stylesheet"
            />
        <link
            href="{% static 'IndexHome/assets/vendor/swiper/swiper-bundle.min.css' %}"
            rel="stylesheet"
            />
        <link
            href="{% static 'IndexHome/assets/vendor/glightbox/css/glightbox.min.css' %}"
            rel="stylesheet"
            />
        <!-- Template Main CSS File -->
        <link
            href="{% static 'IndexHome/assets/css/style.css' %}"
            rel="stylesheet"
            />
        <script src="{% static 'IndexHome/assets/js/core/jquery.min.js' %}"></script>
    </head>
    <body>
        <!--<div class="loader">
            <div></div>
            </div>-->
        <header id="header" class="header fixed-top">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
                <a href="{% url 'IndexHome:index' %}" class="logo d-flex align-items-center">
                <span>CaffeineCode</span>
                </a>
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto" href="{% url 'IndexHome:index' %}">Home</a></li>
                        <li><a class="nav-link scrollto" href="#about">About Us</a></li>
                        <li><a class="nav-link scrollto" href="#services">Projects</a></li>
                        <li><a class="nav-link scrollto" href="{% url 'IndexHome:playground' %}">Playground</a></li>
                        <li><a class="nav-link scrollto active" href="{% url 'blog:index' %}">Blog</a></li>
                        <li><a class="nav-link scrollto" href="#contact">Contact {{is_login}}</a></li>
                        {% if user.is_authenticated and user.is_active %}
                        <li><a href="{% url 'IndexHome:logout' %}" role="button" class="getstarted scrollto" style="background: rgb(212, 77, 77)">Logout</a></li>
                        <li><a class="getstarted scrollto" role="button">{{ user.username }}</a></li>
                        {% else %}
                        <li><a class="getstarted scrollto" role="button" href="{% url 'IndexHome:signin' %}">Sign In</a></li>
                        {% endif %}
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
            </div>
        </header>
        {% block hero %} {% endblock hero %}
        <main id="main" style="margin-top: 80px">
            <section id="blog" class="blog">
                {% block search_block %} {% endblock search_block %} 
                {% block explore %}
                {% endblock explore %} 
                {% block owl %} 
                {% endblock owl %} 
                {% block social-btn %} {% endblock social-btn %}
                <div class="container" data-aos="fade-up">
                    {% block title_post %} {% endblock title_post %}
                    <div class="row">
                        <div class="col-lg-8 entries">
                            {% block article %} {% endblock article %}
                            <div class="blog-pagination mb-5">
                                <ul class="justify-content-center">
                                    {% block pagination %} {% endblock pagination %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4" class="sidebar-col">
                            {% block profile %} {% endblock profile %}
                            <div class="sidebar">
                                <h3 class="sidebar-title mb-4">Search</h3>
                                <form method="get" action="{% url 'blog:search_qu' %}">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="query" {% if query_set.query %} placeholder="{{query_set.query}}" {% else %} placeholder="Query" {% endif %}  spellcheck="false" required>
                                        <small class="form-text text-muted" style="margin-left: 5px;">Use filters to get optimized search results</small>
                                    </div>
                                    <div class="filters">
                                        <h5>Filters</h5>
                                        <div class="form-group" style="margin-left: 5px;">
                                            <select style="border-radius:0px!important;outline:none !important;box-shadow:none;" name="category_selected" class="form-select mt-3" aria-label="select category">
                                                <option value="None" selected>Select Category</option>
                                                {% for name in category %}
                                                    <option value="{{forloop.counter}}">{{name.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group mt-3" style="margin-left: 5px;">
                                            <div class="form-check">
                                                <input class="form-check-input" name="search_title" type="checkbox" value="True" id="flexCheckDefault" {% if query_set.search_title %} checked {% endif %}>
                                                <label class="form-check-label" for="flexCheckDefault">
                                                  Search in title
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" name ="search_body" type="checkbox" value="True" id="flexCheckDefault" {% if query_set.search_body %} checked {% endif %}>
                                                <label class="form-check-label" for="flexCheckDefault">
                                                  Search in body
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-4">
                                        <center><button style="width:60%;" class="btn btn-primary" type="submit">Search</button></center>
                                    </div>
                                </form>
                            </div>
                            {% block sidebar %} {% endblock sidebar %}
                        </div>
                    </div>
                </div>
            </section>
            {% block recent %} {% endblock recent %}
        </main>
        <footer id="footer" class="footer">
            <div class="footer-newsletter">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <h4>Our Newsletter</h4>
                            <p>
                                Receive regular updates and announcement by subscibing to our Newsletter
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <script>
                                function delay(callback, ms) {
                                  var timer = 0;
                                  return function () {
                                    var context = this,
                                      args = arguments;
                                    clearTimeout(timer);
                                    timer = setTimeout(function () {
                                      callback.apply(context, args);
                                    }, ms || 0);
                                  };
                                }
                                $(document).ready(function () {
                                // catch the form's submit event
                                $("#letter").keyup(
                                  delay(function (e) {
                                    // create an AJAX call
                                    $.ajax({
                                      data: $(this).serialize(), // get the form data
                                      url: "{% url 'IndexHome:newsletter' %}",
                                      // on success
                                      success: function (response) {
                                        if (response.is_subscribe == true) {
                                          $("#error").html("Email already subscribed!");
                                          $(".enableOnInput").prop("disabled", true);
                                        }else if(response.is_subscribe == "None") {
                                          $("#error").html("Failed Request");
                                        }
                                        else {
                                          $(".enableOnInput").prop("disabled", false);
                                          $("#error").html("");
                                        }
                                      },
                                      // on error
                                      error: function (response) {
                                        // alert the error if any error occured
                                        console.log(response.responseJSON.errors);
                                      },
                                    });
                                    return false;
                                  }, 500)
                                );
                                });
                            </script>
                            <form action="{% url 'IndexHome:newsletter' %}" method="post">
                                {% csrf_token %}
                                <input type="email" required title="enter your mail" id="letter" name="newsletter" /><input
                                    type="submit"
                                    class="enableOnInput"
                                    value="Subscribe"
                                    />
                            </form>
                            {% if newsletter %}
                            <script>
                                function launch_toast() {
                                  var x = document.getElementById("toast")
                                  x.className = "show";
                                  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
                                }
                                $( document ).ready(function() {
                                  launch_toast();
                                });
                            </script>
                            <div id="toast">
                                <i class="bi bi-check"></i>
                                <div id="desc">Newsletter Subscribed!!</div>
                            </div>
                            {% endif %}
                            <div
                                id="error"
                                ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-top">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-5 col-md-12 footer-info">
                            <a href="{% url 'IndexHome:index' %}" class="logo d-flex align-items-center">
                            <span>CaffeineCode</span>
                            </a>
                            <p style="text-align: left;">
                                Cras fermentum odio eu feugiat lide par naso tierra. Justo eget
                                nada terra videa magna derita valies darta donna mare fermentum
                                iaculis eu non diam phasellus.
                            </p>
                            <div class="social-links mt-3" style="text-align: left;">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
                                <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <a href="#">Home</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <a href="#">About us</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <a href="#">Services</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i>
                                    <a href="#">Terms of service</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i>
                                    <a href="#">Privacy policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-6 footer-links">
                            <h4>Our Services</h4>
                            <ul>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i>
                                    <a href="#">Web Development</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i>
                                    <a href="#">Product Management</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i> <a href="#">Marketing</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i>
                                    <a href="#">Graphic Design</a>
                                </li>
                            </ul>
                        </div>
                        <div
                            class="
                            col-lg-3 col-md-12
                            footer-contact
                            text-center text-md-start
                            "
                            >
                            <h4>Contact Us</h4>
                            <p>
                                A108 Adam Street <br />
                                New York, NY 535022<br />
                                United States <br /><br />
                                <strong>Phone:</strong> +1 5589 55488 55<br />
                                <strong>Email:</strong> info@example.com<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>CaffeineCode</span></strong
                        >. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
                    Designed by <a href="https://bootstrapmade.com/"></a>
                </div>
            </div>
        </footer>
        <!--<script>
            $(window).on('load',function(){
                $(".loader").fadeOut(1100);
                $(".content").fadeIn(1100);
            });
            </script>-->
        <a
            href="#"
            class="back-to-top d-flex align-items-center justify-content-center"
            ><i class="bi bi-arrow-up-short"></i
            ></a>
        <script src="{% static 'IndexHome/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'IndexHome/assets/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'IndexHome/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'IndexHome/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'IndexHome/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'IndexHome/assets/js/main.js' %}"></script>
        {% block script %} {% endblock script %}
    </body>
</html>