{% extends 'blog/base.html' %}
{% block title %}{{post.title_tag}}{% endblock title%}
{% block body %}
{% load hitcount_tags %}

<main id="main">
   <div class="container" data-aos="fade-up" style="padding-top: 30px;text-align:center;font-family:'JosefinSans', monospace;">
      <strong><h2 class="entry-title" style="font-size:50px;">{{post.title}}</h2></strong>
      <b><center><hr style="color: black;" align="center" width="50%" height="40px"></center></b>
      <h6 style="color:#c2c2c2;font-family:'JosefinSans', monospace;">Published By : {{post.author}} on {{post.date_published}} </h6>
      <ul style="text-align:center;color:#c2c2c2;list-style-type: none;">
         <li><i class="bi bi-eye"></i> {% get_hit_count for post %} | <i class="bi bi-tag"></i> {{ post.tags.all|join:" ," }} | <i class="bi bi-calendar2-check"></i> Last updated {{post.modified}}</li>
      </ul>
   </div>
   <br>
   
   <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
         <div class="row">
            <div class="col-lg-8 entries">
               <article class="entry entry-single">
                  <div class="entry-img">
                     <img src="{{post.entry_img}}" alt="" class="img-fluid">
                  </div>
                  <div class="entry-content">
                     {{post.body|safe}}
                  </div>
                  <div class="entry-footer">
                     <i class="bi bi-folder"></i>
                     <ul class="cats">
                        <li><a href="#">Business</a></li>
                     </ul>
                     <i class="bi bi-tags"></i>
                     <ul class="tags">
                        {% for tag in post.tags.all %}
                        <li><a href="{% url 'blog:post_list_by_tags' tag.slug %}">{{tag}}</a></li>
                        {% endfor %}
                     </ul>
                  </div>
               </article>
               <!-- End blog entry -->
               <div class="blog-author d-flex align-items-center">
                  <img src="assets/img/blog/blog-author.jpg" class="rounded-circle float-left" alt="">
                  <div>
                     <h4>{{post.author}}</h4>
                     <div class="social-links">
                        <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                        <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                        <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                     </div>
                     <p>
                        {{post.author_conculsion}}
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="sidebar">
                  <h3 class="sidebar-title">Search</h3>
                  <div class="sidebar-item search-form">
                     <form action="{% url 'blog:search_qu' %}" method="GET">
                        <input type="text" name="search_query" required autocomplete="off">
                        <button type="submit"><i class="bi bi-search"></i></button>
                     </form>
                  </div>
                  <!-- End sidebar search formn-->
                  <h3 class="sidebar-title">Categories</h3>
                  <div class="sidebar-item categories">
                     <ul>
                        <li><a href="#">General <span>(25)</span></a></li>
                        <li><a href="#">Lifestyle <span>(12)</span></a></li>
                        <li><a href="#">Travel <span>(5)</span></a></li>
                        <li><a href="#">Design <span>(22)</span></a></li>
                        <li><a href="#">Creative <span>(8)</span></a></li>
                        <li><a href="#">Educaion <span>(14)</span></a></li>
                     </ul>
                  </div>
                  <!-- End sidebar categories-->
               </div>
               {% if similar_post%}
               <div class="sidebar">
                  <h3 class="sidebar-title">Posts You May Like</h3>
                  <div class="sidebar-item recent-posts">
                     {% for item in similar_post %}
                     <div class="post-item clearfix">
                        <img src="{{item.entry_img}}" alt="">
                        <strong><h4><a href="{% url 'blog:blog_details' item.pk %}">{{item.title}}</a></h4></strong>
                        <time>{{item.date_published}}</time>
                     </div>
                     {% endfor %}
                  </div>
               </div>
               {% else %}
                  <p></p>
               {% endif %}
               <div class="sidebar">
                  <!-- End sidebar recent posts-->
                  <h3 class="sidebar-title">Tags in blog</h3>
                  <div class="sidebar-item tags">
                     <ul>
                        {% for tag in post.tags.all %}
                        <li><a href="{% url 'blog:post_list_by_tags' tag.slug %}">{{tag}}</a></li>
                        {% endfor %}
                     </ul>
                  </div>
                  <!-- End sidebar tags-->
               </div>
               <!-- End sidebar -->
            </div>
            <!-- End blog sidebar -->
         </div>
      </div>
   </section>
   <!-- End Blog Single Section -->
</main>
{% endblock body %}