{% extends 'blog/base.html' %}
{% block title %}CaffeineBlog - Your Coffee,Our Blogs {% endblock title %}
{% load hitcount_tags %}

{% block search_block %}
<!--<div class="container" data-aos="fade-up" style="padding-top: 30px;text-align:center;font-family:'Roboto Slab', serif;">
   <strong><h2  style="font-size:40px;">CaffeineBlog - <span style="color:rgb(247, 73, 10);">Your Coffee, Our Blogs</span> </h2></strong>
</div>-->
<div class="container" data-aos="fade-up" style="padding-top: 30px;text-align:center;font-family:'JosefinSans', monospace;">
   <strong><h2 class="entry-title" style="font-size:50px;">CaffeineBlog</h2></strong>
   <b><center><hr style="color: black;" align="center" width="70%" height="40px"></center></b>
   <h4 style="text-align: center;color:#c2c2c2;">Your Coffee Our Blogs</h6>
</div>
<br>
<br>
{% endblock search_block %}

{% block article %}
{% for post in object_list %}
   <article class="entry">
      <div class="entry-img">
         <img src="{{post.entry_img}}" alt="" class="img-fluid">
      </div>
      <h2 class="entry-title">
         <a href="{% url 'blog:blog_details' post.pk %}">{{post.title}}</a>
      </h2>
      <div class="entry-meta">
         <ul>
            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{post.author}}</a></li>
            <li class="d-flex align-items-center"><i class="bi bi-clock"></i>{{post.date_published|date:"F d"}}</li>
            <li class="d-flex align-items-center"><i class="bi bi-eye"></i>{% get_hit_count for post %}</li>
            <li class="d-flex align-items-center">&#183; {{post.readtime_min}}min read</li>
         </ul>
      </div>
      <div class="entry-content">
         <p>
            {{post.blog_snipet|slice:":200"}}
         </p>
         <div class="read-more">
            <a href="{% url 'blog:blog_details' post.pk %}">Read More</a>
         </div>
      </div>
   </article>
{% endfor %}
{% endblock article %}

{% block pagination %}
{% if is_paginated %}
   <!--<p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>-->
   {% if page_obj.has_previous %}
   <li><a href="/blog?page={{ page_obj.previous_page_number }}">Previous</a></li>
   {% endif %} 
   {% if page_obj.has_next %}
      <li><a href="/blog?page={{ page_obj.next_page_number }}">Next</a></li>
   {% endif %}  
{% else %}
<h3>No More Blogs Found</h3>
{% endif %}
{% endblock pagination %}

{% block sidebar %}
<div class="sidebar">
   <h3 class="sidebar-title mb-5" style="font-size: 23px;">Most Viewed</h3>
   <div class="sidebar-item recent-posts">
      {% for most_view in trending_post %}
         <div class="post-item clearfix mb-4 mt-4">
            <img src="{{most_view.entry_img}}" alt="">
            <h4><a href="{% url 'blog:blog_details' most_view.pk %}">{{most_view.title}}</a></h4>
            <time>{{most_view.date_published|date:"F d"}}</time>
         </div>
      {% endfor %}
   </div>
</div>
<div class="sidebar">
   <h3 class="sidebar-title mb-5" style="font-size: 23px;" >Search By Popular Tags</h3>
   <div class="sidebar-item tags">
      <ul>
         {% for used_tag in most_used_tag %}
         <li><a href="{% url 'blog:post_list_by_tags' used_tag.slug %}">{{used_tag}}</a></li>
         {%endfor%}
      </ul>
   </div>
</div>
{% endblock sidebar %}
