{% extends 'blog/base.html' %}
{% block title %}CaffeineCode - Blogs{% endblock title %}
{% load hitcount_tags %}
{% load static %}
{% block hero %}
{% if page_obj.number == 1 %}
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Your's Coffee Our Blogs</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites with Bootstrap</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        {% if request.user.is_authenticated %}
                            <a href="#explore"  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Explore!</span>
                            <i class="bi bi-arrow-right"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'IndexHome:signup' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Join our coummunity</span>
                            <i class="bi bi-arrow-right"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="{% static 'IndexHome/assets/img/blogging.svg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock hero %}
{% block owl %}
{% if page_obj.number == 1 %}
<style>
    .owl-nav { visibility: hidden; }
    .owl-carousel:hover .owl-nav { visibility: visible; }
</style>
<div class="container" id="explore" data-aos="fade-in">
    <h4 class="section-title">Editor's Choice</h4>
    <div class="site-section py-0" style="margin-bottom:3em;">
        <div class="owl-carousel hero-slide owl-style" style="padding-top:0px;">
            {% for ed_post in editor %}
            <div class="site-section">
                <div class="container">
                    <div class="half-post-entry d-block d-lg-flex" style="background:#f6f9ff;">
                        <div class="img-bg" style="background-image: url('{{ed_post.entry_img}}')"></div>
                        <div class="contents">
                            <h2 class="entry-title"><a href="{% url 'blog:blog_details' ed_post.pk %}">{{ed_post.title}}</a></h2>
                            <p class="mb-3 mt-4">{{ed_post.blog_snipet |slice:":200" |stringformat:"s ...."}}</p>
                            <div class="post-meta">
                                <span class="date-read"> {{ed_post.date_published|date:"F d"}} <span class="mx-1">&bullet;</span> {{ed_post.readtime_min}} min read <span class="icon-star2"></span></span>
                            </div>
                            <div class="read-more">
                                <a class="btn btn-primary" href="{% url 'blog:blog_details' ed_post.pk %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="container mb-5" data-aos-duration="600" data-aos="zoom-in" style="height: 120px;width:100vh;box-shadow: 0 4px 16px rgb(0 0 0 / 10%);">
    <center style="text-align: center;vertical-align: middle;line-height: 120px; ">ADS TO BE SHOWN HERE</center>
</div>
{% endif %}
{% endblock owl %}
{% block article %}
{% for post in object_list %}
{% if forloop.counter == 4 %}
    <article class="entry" style="height: 120px;width:100%;"><center>ADS TO BE SHOWN HERE</center></article>
{% endif %}
<article class="entry">
    <div class="entry-img">
        <img src="{{post.entry_img}}" alt="post_img" class="img-fluid">
    </div>
    <h2 class="entry-title">
        <a href="{% url 'blog:blog_details' post.pk %}">{{post.title}}</a>
    </h2>
    <div class="entry-meta">
        <ul>
            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{post.author}}</a></li>
            <li class="d-flex align-items-center"><i class="bi bi-clock"></i>{{post.date_published|date:"F d"}}</li>
            <li class="d-flex align-items-center"><i class="bi bi-eye"></i>{% get_hit_count for post %}</li>
            <li class="d-flex align-items-center"><i class="bi bi-heart-fill"></i>{{post.likes_count}}</li>
        </ul>
    </div>
    <div class="entry-content">
        <p>
            {{post.blog_snipet|slice:":200" |stringformat:"s ...."}}
        </p>
        <div class="read-more">
            <a href="{% url 'blog:blog_details' post.pk %}">Read More</a>
        </div>
    </div>
</article>
{% endfor %}
{% endblock article %}
{% block pagination %}
<nav aria-label="Page navigation">
    <ul class="pagination mb-5">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}
        <li class="page-item active">
            <span class="page-link">{{ n }}<span class="sr-only"></span></span>
        </li>
        {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}   
    </ul>
</nav>
{% endblock pagination %}
{% block sidebar %}
<div class="sidebar">
    <h3 class="sidebar-title mb-5" style="font-size: 23px;">Most Viewed</h3>
    <div class="sidebar-item recent-posts">
        {% for most_view in trending_post %}
        <div class="post-item clearfix mb-4 mt-4">
            <img src="{{most_view.entry_img}}" alt="">
            <h4><a href="{% url 'blog:blog_details' most_view.pk %}">{{most_view.title}}</a></h4>
            <time>{{most_view.date_published|date:"F d"}} &bullet; {{most_view.readtime_min}} min</time>
        </div>
        {% endfor %}
    </div>
</div>
<div class="sidebar">
    <h3 class="sidebar-title mb-5" style="font-size: 23px;">Most Liked</h3>
    <div class="sidebar-item recent-posts">
        {% for most_like_post in most_like %}
        <div class="post-item clearfix mb-4 mt-4">
            <img src="{{most_like_post.entry_img}}" alt="">
            <h4><a href="{% url 'blog:blog_details' most_like_post.pk %}">{{most_like_post.title}}</a></h4>
            <time>{{most_like_post.date_published|date:"F d"}} &bullet; {{most_like_post.readtime_min}} min</time>
        </div>
        {% endfor %}
    </div>
</div>
<div class="sidebar">
    <h3 class="sidebar-title mb-5" style="font-size: 23px;" >Search By Popular Tags</h3>
    <div class="sidebar-item tags">
        <ul>
            {% for used_tag in most_used_tag %}
            <li><a href="{% url 'blog:post_list_by_tags' used_tag.slug %}">{{used_tag}}</a></li>
            {%endfor%}
        </ul>
    </div>
</div>
<!--<div class="sidebar" style="box-shadow: none;">
    <div class="sidebar-title mb-5" style="font-size: 23px;">
        <h3 class="entry-title" style="font-weight: bold;font-size:24px;font-family:Nunito,san-serif;">Trending this month</h3>
    </div>
    {% for month_trend in this_month %}
    <div class="trend-entry d-flex">
        <div class="number align-self-start">{{ forloop.counter }}</div>
        <div class="trend-contents">
            <h2><a href="{% url 'blog:blog_details' month_trend.pk %}">{{month_trend.title}}</a></h2>
            <div class="post-meta">
                <span class="d-block"><a href="#">{{month_trend.author}}</a></span>
                <span class="date-read">{{month_trend.date_published|date:"F d"}} <span class="mx-1">&bullet;</span> {{month_trend.readtime_min}} min read</span>
            </div>
        </div>
    </div>
    {% empty %}
        <h2>No trending post this month</h2>
    {% endfor %}
</div>-->
<div class="sidebar">
    <div class="sticky-ads">
        <h4>ads to be shown here</h4>
    </div>
</div>
{% endblock sidebar %}
{% block styling %}
<link rel="stylesheet" href="{% static 'blog/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock styling %}
{% block script %}
<script src="{% static 'blog/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'blog/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'blog/js/main.js' %}"></script>
{% endblock script %}

{% block title_post %}
<h4 class="section-title">Latest Posts</h4>
{% endblock title_post %}

{% block category %}
    {% for name in category %}
        <li><a href="{% url 'blog:category' category_slug=name.name %}">{{name.name}}</a></li>
    {% endfor %}
{% endblock category %}

{% block explore %}
<div class="container" style="margin-bottom:55px;">
    <h4 class="section-title">Explore</h4>
    <section id="values" class="values">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box" data-aos="fade-up" data-aos-delay="200">
                        <img src="{% static 'IndexHome/assets/img/gear.png' %}" class="img-fluid" alt="">
                        <h3 style="margin-bottom: 20px;">Data structures and Algorithms</h3>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="400">
                        <img src="{% static 'IndexHome/assets/img/dynamic.png' %}" class="img-fluid" alt="">
                        <h3 style="margin-bottom: 20px;">Dynamic Programming</h3>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="600">
                        <img src="{% static 'IndexHome/assets/img/Tech (1).png' %}" class="img-fluid" alt="">
                        <h3 style="margin-bottom: 20px;">Technology</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 
{% endblock explore %}