{% extends 'blog/base.html' %} {% block title %}CaffeineCode -Blogs{% endblock title %} 
{% load hitcount_tags %} 
{% block search_block %}
<div
    class="container mb-5"
    data-aos-duration="600"
    data-aos="=fade-in"
    style="height: 120px; width: 100vh; box-shadow: 0 4px 16px rgb(0 0 0 / 10%)"
    >
    <center
        style="text-align: center; vertical-align: middle; line-height: 120px"
        >
        ADS TO BE SHOWN HERE
    </center>
</div>
{% load static %}
<div class="container" data-aos="fade-up">
    <h2>
        {% with object_list.count as total_result %} Found {{total_result}} result with
        "{{query}}" {% endwith %}
    </h2>
</div>
<br />
{% endblock search_block %} {% block article %} 
{% if forloop.counter == 4 %}
<article class="entry" style="height: 120px; width: 100%">
    <center>ADS TO BE SHOWN HERE</center>
</article>
{% endif %} 
{% if object_list %} 
{% for post in object_list %}
<article class="entry">
    <div class="entry-img">
        <img src="{{post.entry_img}}" alt="" class="img-fluid" />
    </div>
    <h2 class="entry-title">
        <a href="{% url 'blog:blog_details' post.pk %}">{{post.title}}</a>
    </h2>
    <div class="entry-meta">
        <ul>
            <li class="d-flex align-items-center">
                <i class="bi bi-person"></i>
                <a href="blog-single.html">{{post.author}}</a>
            </li>
            <li class="d-flex align-items-center">
                <i class="bi bi-clock"></i>{{post.date_published|date:"F d"}}
            </li>
            <li class="d-flex align-items-center">
                <i class="bi bi-eye"></i>{% get_hit_count for post %}
            </li>
            <li class="d-flex align-items-center">
                <i class="bi bi-heart-fill"></i>{{post.likes_count}}
            </li>
        </ul>
    </div>
    <div class="entry-content">
        <p>{{post.blog_snipet|slice:":200"}}</p>
        <div class="read-more">
            <a href="{% url 'blog:blog_details' post.pk %}">Read More</a>
        </div>
    </div>
</article>
{% endfor %} 
{% else %}
<article class="entry">
    <div class="entry-img">
        <img
            src="{% static 'IndexHome/assets/img/empty.png' %}"
            height="300px"
            class="img-fluid"
            />
    </div>
    <div class="entry-title" style="text-align: center; color: rgb(240, 75, 75)">
        No results Found!
    </div>
</article>
{% endif %} 
{% endblock article %} 
{% block pagination %} {% endblock pagination %} 
{% block sidebar %}
<div class="sidebar">
    <h3 class="sidebar-title mb-4">Most Liked Posts</h3>
    <div class="sidebar-item recent-posts">
        {% for mostlike in most_like %}
        <div class="post-item clearfix">
            <img src="{{mostlike.entry_img}}" alt="" />
            <h4>
                <a href="{% url 'blog:blog_details' mostlike.pk %}"
                    >{{mostlike.title}}</a
                    >
            </h4>
            <time>{{mostlike.date_published|date:"F d"}}</time>
        </div>
        {% endfor %}
    </div>
</div>
<div class="sidebar">
    <h3 class="sidebar-title mb-4">Search By Tags</h3>
    <div class="sidebar-item tags">
        <ul>
            {% for used_tag in most_tags %}
            <li>
                <a href="{% url 'blog:post_list_by_tags' used_tag.slug %}"
                    >{{used_tag}}</a
                    >
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
{% endblock sidebar %} 
{% block category %} 
{% for name in category %}
<li>
    <a href="{% url 'blog:category' category_slug=name.name %}">{{name.name}}</a>
</li>
{% endfor %} 
{% endblock category %}