<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>CaffeineCode</title>
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/argon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'dashboard/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
</head>
<body onload="timeout()">
    {% block body %}{% endblock body %}
    <script src="{% static 'dashboard/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/argon.js' %}"></script>
</body>
</html>